.top{
	height: 150px;
}
.topright{
	float: right;
	margin-top: 50px;
}
.topnav{
	float: right;
}
.content{
	margin: 150px;
}
.foot{
	background-color: #0000FF;
	padding: 50px;
}

.nav a{
	text-decoration: none;
	color: #F0F8FF;
}
.nav ul{
	padding: 0 0 0 15px;
	background-color: #0000FF;
	margin: 0 auto;
	list-style: none;
	height: 50px;
	line-height: 43px;
}
.nav ul li{
	width: 80px;
	float: left;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}
.sousuol{
	margin-top: 7px;
}
.sousuor{
	margin-top: 7px;
	padding-left: 109px;
}
.message{
	height: 200px;
	background-color: #CCCCCC;
}
.message a{
	text-decoration: none;
	color: #aa0000;
}
.message ul{
	padding: 0 0 0 15px;
	margin:  0 auto;
	list-style: none;
	height: 100px;
	line-height: 43px;
}
.message ul li{
	float: left;
	text-align: center;
	font-size: 15px;
	padding-left: 50px;
	margin-top: 50px;
}
.banquan{
	text-align: center;
	background-color: aqua;
	height: 60px;
}
.foot_w{
	width: 100%;
	height: 240px;
	background-image: none;
	background-attachment: scroll;
	background-repeat: repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-color: rgb(10,63,137);
}
.foot{
	width: 1200px;
	height: 192px;
}
.foot_logo{
	width: 131px;
	height: 140px;
	margin-top: 22px;
	margin-right: 150px;
	margin-bottom: 0px;
	margin-left: 16px;
	float: left;
}
.foot_logo img{
	width: 131px;
	height: 140px;
}
.foot_xq{
	width: 310px;
	margin-top: 28px;
	margin-left: 20px;
	float: left;
}
.foot_xq h3{
	color: #FFFFFF;
	line-height: 24px;
	font-family: "微软雅黑";
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-bottom: 12px;
}
.foot_xq p{
	text-align: center;
	color: #FFFFFF;
	line-height: 24px;
	font-family: "微软雅黑";
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}
.foor_ewm{
	height: 135px;
	margin-top: 30px;
	margin-right: 55px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: right;
}
.foor_ewm img{
	margin-bottom: 6px;
}
.foor_ewm p{
	text-align: center;
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}